<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="seu.virtualcampus.mapper.CartMapper">
    
    <!-- 根据ID列表查询购物车项 -->
    <select id="selectByIds" resultType="seu.virtualcampus.domain.Cart">
        SELECT * FROM cart WHERE cartItemId IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!-- 根据ID列表删除购物车项 -->
    <delete id="deleteByIds">
        DELETE FROM cart WHERE cartItemId IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
